<form action="/result/" method="POST" class="d-flex flex-column align-items-center mt-5">
  <div class="mt-5">
    <h2>URL Shortener</h2>
  </div>
  <div class="mt-5">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="image-link" style="width: 250px;">
  </div>
  <div class="mt-5">
    <input type="text" id="originalUrl" name="originalURL" class="form-control" style="width: 350px;" placeholder="Input URL here">
  </div>
  <div class="mt-5">
    <button type="submit" class="btn btn-outline-primary" style="width: 200px;">Shorten</button>
  </div>
</form>