<div class="d-flex flex-column align-items-center">
  <div class="mt-5">
    <h2>URL Shortener</h2>
  </div>
  <div class="mt-5">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      alt="image-link" style="width: 250px;">
  </div>
  <div class="mt-5">
    <h3>Succuess! Please use this link:</h3>
   <h4>
      <a href="http://localhost:3000/{{ key }}" target="_blank" > http://localhost:3000/{{ key }}</a>
   </h4>
  </div>
  <div class="mt-5">
    <input type="text" id="shortenedURL" value="http://localhost:3000/{{ key }}" style="display: none;">
    <button type="submit" class="btn btn-primary copy-btn" onclick="copy()" style="width: 200px;">Copy</button>
  </div>
</div>

<script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>

<script>
  window.Clipboard = (function (window, document, navigator) {
    let textArea, copy

    function isOS() {
      return navigator.userAgent.match(/ipad|iphone/i)
    }

    function createTextArea(text) {
      textArea = document.createElement('textArea')
      textArea.value = text
      document.body.appendChild(textArea)
    }

    function selectText() {
      let range, selection

      if (isOS()) {
        range = document.createRange()
        range.selectNodeContents(textArea)
        selection = window.getSelection()
        selection.removeAllRanges()
        selection.addRange(range)
        textArea.setSelectionRange(0, 999999)
      } else {
        textArea.select()
      }
    }

    function copyToClipboard() {
      document.execCommand("Copy")
      document.body.removeChild(textArea)
    }

    copy = function (text) {
      createTextArea(text)
      selectText()
      copyToClipboard()
    }

    return {
      copy: copy
    }
  })(window, document, navigator)

  $('.copy-btn').on('click', function () {
    var $this = $(this),
      value = $this.prev('input').val()
    window.Clipboard.copy(value)
    alert('Successfully copied the shortened URL!')
  })
</script>



